{% extends 'base.html' %}

{% block title %}ВХОД | БЫТСЕРВИС{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center">
                <h5 class="mb-0">ВХОД В СИСТЕМУ</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="mb-4">
                        <label class="form-label">ЛОГИН</label>
                        <input type="text" name="username" class="form-control" required autofocus>
                    </div>
                    
                    <div class="mb-4">
                        <label class="form-label">ПАРОЛЬ</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100">ВОЙТИ</button>
                </form>
                
                <hr class="my-4" style="border-color: #404040;">
                
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}